/* CSS Document */

.menu-all{width: 100%;margin: 0 auto;position: absolute;z-index:9;}
.menu { position:relative; margin:0 auto;width:1208px;height:40px;z-index:99; }
.menu div { position:absolute; top:0px; height:40px; }
.menu .all-sort { left:0px; width:150px; text-align:center; font-size:14px; }
.menu .all-sort a { color:#FFF; display:block; width:100%; height:100%; line-height:40px; }
.menu .ad { right:0px; width:141px; }
.menu .nav1 { left:0px; }
.margin-lf-200{margin-left:200px;}
.menu .nav1 ul li { float:left; padding:0px 20px; line-height:40px; }
.menu .nav1 ul li a { display:block; width:100%; color:#333; text-align:center; font:700 15px/40px "Microsoft Yahei"; }
.menu .nav1 ul li a:hover, .menu .nav1 ul li a.current { color:#fd7400; text-decoration:none; }
/*æ££æ ­ã€‰æ¶“å¶…å‹ç€¹è§„ç‰±å¯®ï¿½*/
.menu-index {height: 40px; margin-right: 449px;position: absolute;right: 50%;width: 155px;z-index: 99;}
@media (max-width:1208px){.menu-index{margin-right:400px;height: 40px;position: absolute;right: 50%;width: 155px;z-index: 99;}}
@media (max-width:1000px){.menu-index{margin-right:340px;height: 40px;position: absolute;right: 50%;width: 155px;z-index: 99;}}
@media (max-width:900px){.menu-index{margin-right:280px;height: 40px;position: absolute;right: 50%;width: 155px;z-index: 99;}}
@media (max-width:800px){.menu-index{margin-right:240px;height: 40px;position: absolute;right: 50%;width: 155px;z-index: 99;}}
.menu-index div { position:absolute; top:0px; height:40px; }
.menu-index .all-sort { left:0px; width:150px; text-align:center; font-size:14px; }
.menu-index .all-sort a { color:#FFF; display:block; width:100%; height:100%; line-height:40px; }
.menu-index .ad { right:0px; width:141px; }
.menu-index .nav1 { left:0px; }
.menu-index .nav1 ul li { float:left; padding:0px 20px; line-height:40px; }
.menu-index .nav1 ul li a { display:block; width:100%; color:#333; text-align:center; font:700 15px/40px "Microsoft Yahei"; }
.menu-index .nav1 ul li a:hover, .menu-index .nav1 ul li a.current { color:#fd7400; text-decoration:none; }
.m-1208-index{margin-right: 449px;position: absolute;right: 50%;width: 155px; margin-top:40px;}

@media (max-width:1208px){.m-1208-index{margin-right:400px;position: absolute;right: 50%;width: 155px; margin-top:40px;}}
@media (max-width:1000px){.m-1208-index{margin-right:340px;position: absolute;right: 50%;width: 155px; margin-top:40px;}}
@media (max-width:900px){.m-1208-index{margin-right:280px;position: absolute;right: 50%;width: 155px; margin-top:40px;}}
@media (max-width:800px){.m-1208-index{margin-right: 240px;position: absolute;right: 50%;width: 155px; margin-top:40px;}}

/*æ££æ ­ã€‰æ¶“å¶…å‹ç€¹è§„ç‰±å¯®å¿•ç²¨é‰ï¿½*/
.m-1208{margin:0 auto; width:1208px;}
.wrap { width:147px;z-index:99; position:relative;float:left; }
.all-sort-list { position:relative; width:145px; height:430px;border-top:none; padding:5px 3px 5px 0px; background:#FAFAFA; border-bottom:1px #ddd solid; border-left:1px #ddd solid; border-right:1px #ddd solid;}
.all-sort-list .item { height:30px; border-top:1px solid #FFFFFF; padding:10px 0px 10px 0px; }
.all-sort-list .item.bo { border-top:none; } 
.all-sort-list .item h3 { height:28px; line-height:28px; font-size:14px;width:143px; padding:10px 0px 10px 5px; font-weight:normal; background:#fff;}
.all-sort-list .item h3 a{font-size:14px;}
.all-sort-list .item:hover h3  {float:left;width:140px;  position:relative; z-index:13; background:url(../images/menu_bg.png) no-repeat  right -45px #FFF;  border-color:#DDD; border-width:1px 0px; border-style:solid; color:#333; padding-left:9px;}

.all-sort-list .item span {float:left;width:32px; height:30px;} 
.all-sort-list .fruits{background:url(../images/menu_bg.png) no-repeat;}
.all-sort-list .vegetables{background:url(../images/menu_bg.png) no-repeat -30px 0px;}
.all-sort-list .cooking{background:url(../images/menu_bg.png) no-repeat -62px 0px;}
.all-sort-list .meat{background:url(../images/menu_bg.png) no-repeat -92px 0px;}
.all-sort-list .cail{background:url(../images/menu_bg.png) no-repeat -128px 0px;}
.all-sort-list .aquatic{background:url(../images/menu_bg.png) no-repeat -158px 0px;}
.all-sort-list .snacks{background:url(../images/menu_bg.png) no-repeat -185px 0px;}



.all-sort-list .item a { color:#000; text-decoration:none; }
.all-sort-list .item a:hover { font-weight:bold; color:#333; }
.all-sort h2{float:left;width:150px; background:#fd7400;}
.all-sort h2 a {  font:700 15px/40px "Microsoft Yahei"; }
.all-sort h2 span {
	float: right;
	width: 0px;
	margin-top: -20px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	font-size: 0px;
	line-height: 0px;
	margin-right: 8px;
	color: #fff;
}




.all-sort-list .item-list { 
	display:none;
	position:absolute;
	width:705px;
	min-height:200px;
	_height:200px;
	background:#FFF;
	left:148px;
	box-shadow:0px 0px 10px #DDDDDD;
	border:1px solid #DDD;
	top:3px;
	z-index:10;
}
.all-sort-list .item-list .close { 
	position:absolute;
	width:26px;
	height:26px;
	color:#FFFFFF;
	cursor:pointer;
	top:-1px;
	right:-26px;
	font-size:20px;
	line-height:20px;
	text-align:center;
	background:rgba(0, 0, 0, 0.6); 
	background-color:transparent\9;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000');
}

.item-list .subitem { float:left; width:477px; padding:10px 4px 30px 8px; }
.item-list .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.item-list .subitem .fore1 { border-top:none; }
.item-list .subitem dt { float:left; width:84px; line-height:22px; text-align:right; padding:3px 6px 0px 0px; font-weight:700; color:#fd7400; }
.item-list .subitem dt a { color:#fd7400; text-decoration:underline; }
.item-list .subitem dd { float:left; width:385px; padding:3px 0px 0px; overflow:hidden; }
.item-list .subitem dd em { float:left; height:14px; line-height:14px; padding:0px 8px; margin-top:5px; border-left:1px solid #CCC; }
.item-list .subitem dd em a, .item-list .cat-right dd a { color:#666; text-decoration:none; }
.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover { font-weight:normal; text-decoration:underline; }
.item-list .cat-right { float:right; width:210px; }
.item-list .cat-right dl { width:194px; padding:6px 8px; }
.item-list .cat-right dd { padding-top:6px; line-height:22px; overflow:hidden; padding:3px 0px 0px; }
.item-list .cat-right dt { padding:3px 6px 0px 0px; font-weight:700; color:#fd7400;  }
.item-list .cat-right dd a:hover { color:#666; }